:root {
	--header-bg-color:  #212343;
	--header-content-information-bg-color: #212343aa;
	--header-text-color: #ddd;
	/* --header-text-color: #505050; */
	
	--formfield-bg-color: #ddd;
	--formfield-border-color: #aaa;
	--formfield-btn-color: #363a6d;

	--main-header-bg-color: #aaa;

	--body-color: #ddd;

	font-size: 62.5%;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
}

html,body{
	display: flex;
	flex-direction: column;
	height: 100%;

	background: var(--body-color);
}

/* Header css */

.container-logo {

    height: 6.4rem;

    display: flex;
    align-items: center;

    background-color: var(--header-bg-color);
}

.content-header{
    width: 100%;
    
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image:url('../images/header_bg.png');
	background-size: cover;
	background-position: center;
}

#information-header {

    max-width: 550px;

    margin: 2.4rem 0;
    padding: 1rem 6rem;

    background: var(--header-content-information-bg-color);

    color: var(--header-text-color);
    text-align: start;

    font-size: 1.8rem;
}

#information-header li {
	margin: 1.5rem 0;
}

#form-header {
	max-width: 550px;

	margin: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


	font-size: 1.8rem;
	color: #707070;

}

.fieldset-form {
	padding: 1.2rem;

	border: var(--formfield-border-color) 0.2rem solid;
	border-radius: 0.5rem;

	background: var(--formfield-bg-color);
	
}

.fieldset-form h3 {
	margin: 1rem 0;
}

.fieldset-form .input-block {
	text-align: center;
	
	height: 70%;
}

.fieldset-form .input-block input {
	width: 100%;
	height: 4rem;

	font-size: 1.8rem;
	outline: none;

	border: none;

	background: none;
}

.fieldset-form .btn-submit {
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-submit input[type=submit] {
	width: 75%;
	height: 5rem;

	background-color: var(--formfield-btn-color);
	color: #FFF;
	font-size: 22px;

	align-self: center;

	margin: auto 0;

	cursor: pointer;

	border:  none;
	border-radius: 5px;

	transition: 100ms;
}

.text-field {
	position: relative;

	margin: 40px 0;
}

.text-field label{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);

	pointer-events: none;

	transition: .5s;
}

.text-field span {
	width: 100%;
	height: 2px;

	background-color: #363a6d;

    position: absolute;
    right: 0;
	bottom: 0;
}

.text-field input:focus ~ label, .text-field input:valid ~ label {
	top: -5px;
	color: #505050;
}

.submit-form input[type=submit]:hover {
	background-color: #212343;
}

/* Main */

main {
	font-size: 1.8rem;
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--main-header-bg-color);

	text-align: center;
}

#information-main {
	
	max-width: 550px;
}